*.iml
.claude
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.idea/*
.DS_Store
Thumbs.db
ehthumbs.db
*.swp
*.swo
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

*.hprof
*.log

.env
.env.*
!.env.example
# Android signing files
*.jks
*.keystore
keystore.properties
signing.properties
key.properties
# iOS signing files and serts
*.p12
*.p8
*.pem
*.cer
*.mobileprovision
*.key
# Secrets Gradle Plugin, etc.
secrets.properties
apikey.properties